@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-blur {
    backdrop-filter: blur(10px);
}
button {
    @apply outline-none !important;
}

input {
    @apply outline-none !important;
}

* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.top-round {
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}
.h-23{
    height: 23rem;
}
.shadow-blue{
    box-shadow: 2rem 2rem 100px 1px rgba(82,125,255,1);
}
